@import '../../style/minxin.scss';

.prod-detail {
  .img-area {
    max-height: 12rem;
    text-align: center;
    background-color: #fff;
    img{
      max-height: 12rem;
    }
  }
  .prod-name {
    @include sc(.7rem, #333);
    background-color: #fff;
    line-height: 1.15;
    padding:.5rem;
    margin: .25rem 0;
  }
  .prod-detail {
    padding:.5rem;
    background-color: #fff;
    @include sc(.6rem, #666);
    margin-bottom: .25rem;
    p {
      padding:.15rem;
    }
  }
  .detail {
    background-color: #fff;
    // padding:0 .25rem;
    img {
      display: block;
      max-width: 100%;
      margin: 0 auto;
    }
  }
}