@import '../../style/minxin.scss';
.shop-cart {
  height: 2.5rem;
  width: 100%;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  box-shadow: 0 0 10px 0 rgba(155, 143, 143, 0.6);
  background-color: #3d3d3f;
  .cart {
    width: 2.6rem;
    height: 2.6rem;
    border: 0.18rem solid #444;
    border-radius: 50%;
    position: absolute;
    top: -.7rem;
    left: .5rem;
    background-color: #3190e8;
    display: flex;
    align-items: center;
    justify-content: center;
    i {
      display: block;
      width: 1.5rem;
      height: 1.5rem;
      background-image: url('../../images/cart.png');
      background-size: cover;
    }
    span {
      position: absolute;
      top: -.25rem;
      right: -.25rem;
      background-color: #ff461d;
      line-height: .7rem;
      text-align: center;
      border-radius: 50%;
      border: 0.025rem solid #ff461d;
      min-width: .7rem;
      height: .7rem;
      font-size: 0.5rem;
      color: #fff;
    }
  }
  .total-money {
    height: 100%;
    left: 4rem;
    position: absolute;
    span {
      @include sc(.8rem,
      #fff);
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
    }
  }
  .buy {
    background-color: #4cd964;
    width: 5rem;
    height: 100%;
    line-height: 2.5rem;
    float: right;
    text-align: center;
    span {
      padding: 0 .5rem;
      @include sc(.7rem,
      #fff);
    }
  }
}